
<div class="border">
  <h1>MFE APP 2</h1>
  <!-- paypremium.component.html -->
  <h2>Insurance Premium Calculation</h2>
  <form class="w3-container">
    <p>
      <input class="w3-input" type="text" value={{insuranceID}} disabled>
      <label>Insurance ID</label>
    </p>
    <p>
      <input class="w3-input" id="ageInput" type="number" [(ngModel)]="age" (input)="calculatePremium()" name="3">
      <label>Age</label>
    </p>
    <p>
      <input class="w3-input" type="text" value={{premium}} disabled>
      <label>Your Calculated Premium</label>
    </p>
  </form>
</div>

