

<div class="border">
  <h1>First MFE APP - Insurance Details</h1>
      <form class="w3-container">
        <p>
          <input class="w3-input" type="text" value="Jake" disabled>
          <label>Name</label>
        </p>
        <p>
          <input class="w3-input" type="text" value={{insuranceID}} disabled>
          <label>Insurance ID</label>
        </p>
        <p>
          <input class="w3-input" type="text" value="Health" disabled>
          <label>Insurance Type</label>
        </p>
      </form>
</div>

